* {
    box-sizing: border-box;
}


h1, 
h2,
h3 {
    text-align: center;
    color: rgb(220, 20, 47)
}

body {
    background-color: rgb(20, 220, 120);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center.salmon,
.center.ravens {
    height: auto;
    width: 400px;
}

.three.recipes {
    background-color: salmon;
    text-align: center;
    height: 90px;
    width: 750px;
    margin: 25px 560px;
    padding: 25px;
    border: 2px black dotted;
    display: flex;
}